.div {font-family: verdana, arial, helvetica, geneva, sans-serif; font-size: small; color: #000000}
.heada {font-family: verdana, arial, helvetica, geneva, sans-serif; font-size: small; color: #000000}
.headaCnt {font-family: verdana, arial, helvetica, geneva, sans-serif; font-size: x-small; color: #000000}
.parent {font-family: verdana, arial, helvetica, geneva, sans-serif; color: #000000; text-decoration: none}
.child {font-family: verdana, arial, helvetica, geneva, sans-serif; font-size: x-small; color: #333399; text-decoration: none}
.item, .item:active, .item:hover, .tblItem, .tblItem:active {font-size: x-small; color: #333399; text-decoration: none}
.tblItem:hover {color: #FF0000; text-decoration: underline}
        /* Always enabled stylesheets (left frame) */
body {font-family: verdana, arial, helvetica, geneva, sans-serif; font-size: 5}
input   {font-family: verdana, arial, helvetica, geneva, sans-serif; font-size: small}
select  {font-family: verdana, arial, helvetica, geneva, sans-serif; font-size: small; background-color: #ffffff; color: #000000}
