hr {color: sienna}
p {margin-left: 20px}
body {background-image: url("images/back40.gif")}
td {bgcolor="#CCCCCC"}
body {font-family: verdana, arial, helvetica, geneva, sans-serif}
input   {font-family: verdana, arial, helvetica, geneva, sans-serif; font-size: small}
select  {font-family: verdana, arial, helvetica, geneva, sans-serif; font-size: small; background-color: #ffffff; color: #000000}

