body{scrollbar-arrow-color:#868585;scrollbar-darkshadow-color:#868585;scrollbar-base-color:#EAEAEA;scroll-track-color:#CBCBCB;scrollbar-highlight-color:#868585;FONT-SIZE:10px;COLOR:#666666;FONT-FAMILY:verdana}
*{border-collapse:collapse;margin:0;padding:0px;border:0px}
td{FONT-SIZE:10px;FONT-FAMILY:verdana}
.txtBranco{COLOR:#FFFFFF}
.txtPreto{COLOR:#333232}
.txtRed{COLOR:#ed2228}
a{color:#666666;text-decoration:underline}
a:hover{color:#666666;text-decoration:none}
a.link{COLOR:#666666;text-decoration:none}
a.link:hover{COLOR:#666666;text-decoration:underline}
a.linkRed{COLOR:#ed2228;text-decoration:none}
a.linkRed:hover{COLOR:#ed2228;text-decoration:none}
a.lk_btn{COLOR:#ffffff;text-decoration:none}
a.lk_btn:hover{COLOR:#ffffff;text-decoration:none}
a.lk_btn2{COLOR:#e52324;text-decoration:none}
a.lk_btn2:hover{COLOR:#e52324;text-decoration:none}
a.lk_btngp{COLOR:#616162;text-decoration:none}
a.lk_btngp:hover{COLOR:#616162;text-decoration:none}
a.linkNu{text-decoration:none}
a.linkNu:hover{text-decoration:none}
input{font-family:Verdana;font-size:10;border:1px solid #bfbfbf;padding-bottom:3px;#padding:0px;}
select{color:#666666;font-family:Verdana;font-size:10;border:1px solid #bfbfbf}
.tbl_cls{border-collapse:separate;border-spacing:1px}
.tbl_cls td{padding:4px;padding-top:0px;padding-bottom:0px;line-height:18px}
.tbl_header td{padding:4px;line-height:normal}
.tbl_trOn{background-color:#fef9Ec;font-weight:bold;text-decoration:underline;cursor:pointer}
.imgv{vertical-align:middle}
.radio{border:0px;}
.boxSenha{font-family:Verdana;font-size:12;text-align:center;border:0;font-weight:bold;vertical-align:bottom}
.rodape{height:26px;background-image:url("../../Imagens/ibpf/bg_rodape.gif")}
.p_dir{background-image:url("../../Imagens/IBPF/bg_dir.gif");padding-top:10px}
.cxu_esq{width:13px;background-image:url("../../Imagens/ibpf/ibpf_caixaus_esq.gif")}
.cxu_cen{padding-top:8px;background-image:url("../../Imagens/ibpf/ibpf_caixaus_cen.gif")}
.cxu_dir{width:13px;background-image:url("../../Imagens/ibpf/ibpf_caixaus_dir.gif")}
.cxu_out{width:10px;height:65px;background-image:url("../../Imagens/ibpf/ibpf_caixaus_out.gif")}
.cxum_esq{width:12px;background-image:url("../../Imagens/ibpf/ibpf_caixausm_esq.gif")}
.cxum_cen{padding-top:5px;background-image:url("../../Imagens/ibpf/ibpf_caixausm_cen.gif")}
.cxum_dir{width:12px;background-image:url("../../Imagens/ibpf/ibpf_caixausm_dir.gif")}
.cxum_out{width:5px;height:51px;background-image:url("../../Imagens/ibpf/ibpf_caixausm_out.gif")}
.cxm_esq{width:4px;height:20px;background-image:url("../../Imagens/ibpf/cx_mn_esq.gif")}
.cxm_cen{background-image:url("../../Imagens/ibpf/cx_mn_cen.gif")}
.cxm_dir{width:4px;background-image:url("../../Imagens/ibpf/cx_mn_dir.gif")}
.cx_up_esq{width:11px;height:12px;background-image:url("../../Imagens/ibpf/ibpf_caixa_sup_esq.gif")}
.cx_up_cen{background-image:url("../../Imagens/ibpf/ibpf_caixa_sup_cen.gif")}
.cx_up_dir{width:11px;background-image:url("../../Imagens/ibpf/ibpf_caixa_sup_dir.gif")}
.cx_md_esq{width:11px;background-image:url("../../Imagens/ibpf/ibpf_caixa_mid_esq.gif")}
.cx_md_dir{width:11px;background-image:url("../../Imagens/ibpf/ibpf_caixa_mid_dir.gif")}
.cx_tt_esq{width:10px;height:25px;background-image:url("../../Imagens/ibpf/ibpf_caixa_tit_esq.gif")}
.cx_tt_cen{background-image:url("../../Imagens/ibpf/ibpf_caixa_tit_cen.gif");color:#ed2228;font-weight:bold;font-size:12px}
.cx_tt_dir{width:10px;background-image:url("../../Imagens/ibpf/ibpf_caixa_tit_dir.gif")}
.cx_dn_esq{height:35px;background-image:url("../../Imagens/ibpf/ibpf_caixa_infd_esq.gif")}
.cx_dn_cen{font-weight:bold;text-align:right;padding-top:9px;background-image:url("../../Imagens/ibpf/ibpf_caixa_infd_cen.gif")}
.cx_dn_dir{background-image:url("../../Imagens/ibpf/ibpf_caixa_infd_dir.gif")}
.cx_dn2_esq{height:12px;background-image:url("../../Imagens/ibpf/ibpf_caixa_infd2_esq.gif")}
.cx_dn2_cen{background-image:url("../../Imagens/ibpf/ibpf_caixa_infd2_cen.gif")}
.cx_dn2_dir{background-image:url("../../Imagens/ibpf/ibpf_caixa_infd2_dir.gif")}
.cxlg_esq{width:11px;height:28px;background-image:url("../../Imagens/ibpf/cx_lgn_esq.gif")}
.cxlg_cen{font-size:12px;text-align:center;vertical-align:top;padding-top:4px;width:110px;background-image:url("../../Imagens/ibpf/cx_lgn_cen.gif")}
.cxlg_dir{width:11px;background-image:url("../../Imagens/ibpf/cx_lgn_dir.gif")}
.mn_on_esq{width:5px;height:24px;background-image:url("../../Imagens/ibpf/ibpf_menuse_sel_esq.gif")}
.mn_on_cen{color:#ed2228;font-size:11px;font-weight:bold;text-align:center;background-image:url("../../Imagens/ibpf/ibpf_menuse_sel_cen.gif")}
.mn_on_dir{width:5px;background-image:url("../../Imagens/ibpf/ibpf_menuse_sel_dir.gif")}
.mn_off_esq{width:5px;height:24px;background-image:url("../../Imagens/ibpf/ibpf_menuse_nsel_esq.gif")}
.mn_off_cen{padding-top:4px;text-align:center;background-image:url("../../Imagens/ibpf/ibpf_menuse_nsel_cen.gif")}
.mn_off_dir{width:5px;background-image:url("../../Imagens/ibpf/ibpf_menuse_nsel_dir.gif")}
.alr_up_esq{font-size:1px;width:5px;height:5px;background-image:url("../../Imagens/ibpf/ibpf_alert_sup_esq.gif")}
.alr_up_fill{font-size:1px;width:38px;border-top:1px #aeaeae solid}
.alr_up_cen{font-size:1px;border-top:1px #aeaeae solid}
.alr_up_dir{font-size:1px;width:5px;background-image:url("../../Imagens/ibpf/ibpf_alert_sup_dir.gif")}
.alr_md_esq{border-left:1px #aeaeae solid}
.alr_md_cen{text-align:center;padding:11px;font-size:18px;color:#787474;}
.alr_md_dir{border-right:1px #aeaeae solid}
.alr_dn_esq{width:43px;height:18px;background-image:url("../../Imagens/ibpf/ibpf_alert_inf_esq.gif")}
.alr_dn_cen{background-image:url("../../Imagens/ibpf/ibpf_alert_inf_cen.gif")}
.alr_dn_dir{width:43px;background-image:url("../../Imagens/ibpf/ibpf_alert_inf_dir.gif")}
.btn_gray_esq{width:11px;height:35px;background-image:url("../../Imagens/ibpf/ibpf_btn_gray_esq.gif")}
.btn_gray_cen{vertical-align:top;padding-top:6px;padding-left:20px;padding-right:20px;font-weight:bold;font-size:18px;font-family:arial;color:#ef0303;background-image:url("../../Imagens/ibpf/ibpf_btn_gray_cen.gif")}
.btn_gray_dir{width:11px;background-image:url("../../Imagens/ibpf/ibpf_btn_gray_dir.gif")}
.btn_esq{width:11px;height:17px;background-image:url("../../Imagens/ibpf/btn_padrao_ib_esquerdo.gif")}
.btn_cen{height:17px;font-weight:bold;background-image:url("../../Imagens/ibpf/btn_padrao_ib_bkg.gif")}
.btn_dir{width:11px;height:17px;background-image:url("../../Imagens/ibpf/btn_padrao_ib_direito.gif")}
.btn2_esq{width:11px;height:19px;background-image:url("../../Imagens/ibpf/btn_Cancelar_LytEsq.gif")}
.btn2_cen{height:19px;font-weight:bold;background-image:url("../../Imagens/ibpf/bkg_Btn_Cancelar.gif")}
.btn2_dir{width:11px;height:19px;background-image:url("../../Imagens/ibpf/btn_Cancelar_LytDir.gif")}
.cx_pnl_sup_esq{width:10px;height:30px;background-image:url("../../Imagens/ibpf/ibpf_cx_pnl_sup_esq.gif")}
.cx_pnl_sup_esq_off{width:10px;height:30px;background-image:url("../../Imagens/ibpf/ibpf_cx_pnl_sup_esq_off.gif")}
.cx_pnl_sup_cen{color:#f80504;font-weight:bold;background-image:url("../../Imagens/ibpf/ibpf_cx_pnl_sup_cen.gif")}
.cx_pnl_sup_cen2{width:20px;padding-top:3px;background-image:url("../../Imagens/ibpf/ibpf_cx_pnl_sup_cen.gif")}
.cx_pnl_sup_dir{width:10px;background-image:url("../../Imagens/ibpf/ibpf_cx_pnl_sup_dir.gif")}
.cx_pnl_sup_dir_off{width:10px;height:30px;background-image:url("../../Imagens/ibpf/ibpf_cx_pnl_sup_dir_off.gif")}
.cx_pnl_inf_esq{width:53px;height:36px;padding-left:3px;background-image:url("../../Imagens/ibpf/ibpf_cx_pnl_inf_on_esq.gif")}
.cx_pnl_inf_esq2{width:4px;background-image:url("../../Imagens/ibpf/ibpf_cx_pnl_inf_on_dir.gif")}
.cx_pnl_inf_cen{color:black;text-align:right;border-bottom:1px #d0d0d0 solid;background-color:#d9d9d9}
.cx_pnl_inf_dir{width:32px;text-align:center;background-image:url("../../Imagens/ibpf/ibpf_cx_pnl_inf_dir.gif")}
.btngp_esq{width:8px;height:19px;background-image:url("../../Imagens/ibpf/ibpf_btngp_esq.gif")}
.btngp_cen{vertical-align:middle;padding-left:1px;padding-right:1px;font-weight:bold;background-image:url("../../Imagens/ibpf/ibpf_btngp_cen.gif")}
.btngp_dir{width:8px;background-image:url("../../Imagens/ibpf/ibpf_btngp_dir.gif")}

.ipl_cx_up_esq{width:14px;height:24px;background-image:url("../../Imagens/ibpf/lyt_transfrencia_superior_e.gif")}
.ipl_cxst_up_esq{width:14px;height:10px;background-image:url("../../Imagens/ibpf/lyt_transfrencia_superior_e.gif")}
.ipl_cx_up_cen{background-image:url("../../Imagens/ibpf/lyt_bkg_tranferencia_superi.gif");background-position:top;background-repeat:repeat-x}
.ipl_cx_up_dir{width:14px;background-image:url("../../Imagens/ibpf/lyt_transfrencia_superior_d.gif")}
.ipl_tt_esqi{width:24px;height:24px;background-image:url("../../Imagens/ibpf/lyt_trans_primeiro.gif")}
.ipl_tt_esq{width:12px;height:24px;background-image:url("../../Imagens/ibpf/lyt_trans_primeiro.gif")}
.ipl_tt_cen{padding-left:4px;font-size:11px;font-weight:bold;color:red;background-image:url("../../Imagens/ibpf/bkg_dados_trans.gif")}
.ipl_tt_dir{width:24px;background-image:url("../../Imagens/ibpf/lyt_dados_trans_direita.gif")}
.ipl_cx_md_esq{background-image:url("../../Imagens/ibpf/bkg_produto_esquerda_superior.gif")}
.ipl_cx_md_dir{background-image:url("../../Imagens/ibpf/bkg_produto_direita_superior.gif")}
.ipl_cx_dn1_esq{height:14px;background-image:url("../../Imagens/ibpf/lyt_produtos_meio_esquerda.gif")}
.ipl_cx_dn1_cen{background-image:url("../../Imagens/ibpf/bkg_produto_inferior.gif")}
.ipl_cx_dn1_dir{background-image:url("../../Imagens/ibpf/lyt_produtos_meio_direita.gif")}
.ipl_cx_dn2_esq{background-image:url("../../Imagens/ibpf/bkg_produto_esquerda_inferior.gif")}
.ipl_cx_dn2_cen{vertical-align:bottom;background-color:#f6f6f6}
.ipl_cx_dn2_dir{background-image:url("../../Imagens/ibpf/bkg_produto_direita_inferior.gif")}
.ipl_cx_dn3_esq{height:11px;background-image:url("../../Imagens/ibpf/lyt_produtos_inferior_esquerda.gif")}
.ipl_cx_dn3_cen{background-image:url("../../Imagens/ibpf/bkg_produto_inferior2.gif")}
.ipl_cx_dn3_dir{background-image:url("../../Imagens/ibpf/lyt_produtos_inferior_direita.gif")}
.ipl_cx_dn4_esq{height:12px;background-image:url("../../Imagens/ibpf/lyt_produtos_inferior_esquerda2.gif")}
.ipl_cx_dn4_cen{background-image:url("../../Imagens/ibpf/bkg_produto_inferior3.gif")}
.ipl_cx_dn4_dir{background-image:url("../../Imagens/ibpf/lyt_produtos_inferior_direita2.gif")}

.cxaltc_up_esq{height:10px;width:10px;background-image:url("../../Imagens/ibpf/ibpf_cxalrtc_sup_esq.gif")}
.cxaltc_up_cen{background-image:url("../../Imagens/ibpf/ibpf_cxalrtc_sup_cen.gif")}
.cxaltc_up_dir{width:13px;background-image:url("../../Imagens/ibpf/ibpf_cxalrtc_sup_dir.gif")}
.cxaltc_md_esq{width:9px;background-image:url("../../Imagens/ibpf/ibpf_cxalrtc_mid_esq.gif")}
.cxaltc_md_cen{background-color:#e3e3e3}
.cxaltc_md_dir{width:10px;background-image:url("../../Imagens/ibpf/ibpf_cxalrtc_mid_dir.gif")}
.cxaltc_dn_esq{width:13px;height:14px;background-image:url("../../Imagens/ibpf/ibpf_cxalrtc_inf_esq.gif")}
.cxaltc_dn_cen{background-image:url("../../Imagens/ibpf/ibpf_cxalrtc_inf_cen.gif")}
.cxaltc_dn_dir{width:13px;background-image:url("../../Imagens/ibpf/ibpf_cxalrtc_inf_dir.gif")}
.cxalt_up_esq{height:9px;width:9px;background-image:url("../../Imagens/ibpf/ibpf_cxalrt_sup_esq.gif")}
.cxalt_up_dir{width:9px;background-image:url("../../Imagens/ibpf/ibpf_cxalrt_sup_dir.gif")}
.cxalt_dn_esq{height:9px;background-image:url("../../Imagens/ibpf/ibpf_cxalrt_inf_esq.gif")}
.cxalt_dn_dir{background-image:url("../../Imagens/ibpf/ibpf_cxalrt_inf_dir.gif")}
.cxalt_bg{background-color:white}
.tituloProduto{font-weight:bold;font-size:11px;color:#ed2228}
.tituloProduto2{font-weight:bold;font-size:11px;color:#f30a08}
.textoDestaque{font-weight:bold}
.popTitulo{font-weight:bold;font-size:13px;color:#ed2228}

#dataLogin{background:url(../../imagens/IBPF/pontilhado.gif) repeat-x #fff;height:10px;}
#dataLogin .conteudo{padding:10px;background:url(../../imagens/IBPF/pontilhado.gif) bottom repeat-x;height:12px;}
#dataLogin .conteudo p.direita{float:right;}


