.list1 {
    list-style: square inside; color:green;
}
.titulo {
	background-color: #FA8072
}
.linha1 {
	background-color: #FFE4E1
}
.tituloAzul {
	background-color: #0099FF
}
.linha1Azul {
	background-color: #CCEEFF
}
.tituloRosa {
	background-color: #FF9999
}
.linha1Rosa {
	background-color: #FFCCCC
}
.tituloRosa2 {
	background-color: #FA8072
}
.linha1Rosa2 {
	background-color: #FFE4E1
}
.tituloSalmao {
	background-color: #FFC58A
}
.linha1Salmao {
	background-color: #FFDDBB
}
.tituloVerdeAgua {
	background-color: #82c0a1
}
.linha1VerdeAgua {
	background-color: #d9f3e5
}
.tituloVerdeAbacate {
	background-color: #8FB300
}
.linha1VerdeAbacate {
	background-color: #C7E567
}
.tituloLaranja {
	background-color: #FF9900
}
.linha1Laranja {
	background-color: #FFCC66
}
.tituloRoxo {
	background-color: #666699
}
.linha1Roxo {
	background-color: #CCCCFF
}
.tituloCinza {
	background-color: #A5A5A5
}
.linha1Cinza {
	background-color: #E3E3E3
}
.tituloTerra {
	background-color: #CDB38B
}
.linha1Terra {
	background-color: #ECE2CA
}
.tituloTerra2 {
	background-color: #AAAA77
}
.linha1Terra2 {
	background-color: #DDDDAA
}
.tituloAmarelo {
	background-color: #F2C210
}
.linha1Amarelo {
	background-color: #FFE680
}
.linha2 {
	background-color: #FFFFFF
}
.fontetitulo, .fonte1, .fonte2, .fonte3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px
}
.fontetitulo {
	color: #003399;
	font-weight:bold
}
.fonte1, .fontepermissao1 {
	color: #003399;
}
.fonte3{
	color: #E3E3E3;
}
.fontepermissao1, .fontepermissao2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px
}