<td align="center">
          			<font color="#990000" size="2" face="Verdana, Arial, Helvetica, sans-serif"><strong>
          			<a href="./configuracoes.php" target="mainFrameIn" class="LMS">
					CONFIGURA&Ccedil;&Otilde;ES
				</a></strong></font>
			</td>

