.titulo {
	background-color: #00D200
}
.linha1 {
	background-color: #CEFFCE
}
.linha2 {
	background-color: #FFFFFF
}
.fontetitulo, .fonte1, .fonte2, .fonteErro {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px
}
.fontetitulo {
	color: #003399;
	font-weight:bold
}
.fonteErro {
	color: #990000;
	font-weight:bold
}
.fonte1, .fontepermissao1 {
	color: #003399;
}
.fontepermissao1, .fontepermissao2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px
}
.tabela_conteudo {
	border-collapse: collapse;
}
.tabela_conteudo td {
	height:22px;
	padding: 1px;
	border: #000000 1px solid;
}