
.titulo {
	background-color: #70B9EE
}
.linha1 {
	background-color: #BFE4FF
}
.linha2 {
	background-color: #FFFFFF
}
.fontetitulo, .fonte1, .fonte2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px
}
.fontetitulo {
	color: #003399;
	font-weight:bold
}
.fonte1, .fontepermissao1 {
	color: #003399;

}
.fontepermissao1, .fontepermissao2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px
}
