.titulo {
	background-color: #A5A5A5
}
.linha1 {
	background-color: #E3E3E3
}
.linha2 {
	background-color: #FFFFFF
}
.fontetitulo, .fonte1, .fonte2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px
}
.fontetitulo {
	color: #000000;
	font-weight:bold
}
.tabela_conteudo {
	border-collapse: collapse;
}
.tabela_conteudo td {
	padding: 1px 3px;
	border: #3C3C3C 1px solid;
}
.tabela_conteudo {
	border-collapse: collapse;
}
.tabela_conteudo td {
	padding: 1px 3px;
	border: #3C3C3C 1px solid;
	height:22px;
}
