.titulo {
	background-color: #82c0a1
}
.linha1 {
	background-color: #d9f3e5
}
.linha2 {
	background-color: #FFFFFF
}
.linha3 {
	background-color: #bbd5c7;
}
.titulocima {
	color:#115544;
	font-family:"Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
	font-size: 35px;
	font-weight:bold;
	text-decoration:none;
}
.fontetitulo, .fonte1, .fonte2, .fonteErro {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px
}
.fontetitulo {
	color: #003399;
	font-weight:bold
}
.fonteErro {
	color: #990000;
	font-weight:bold
}
.fonte1, .fontepermissao1 {
	color: #003399;
}
.fontepermissao1, .fontepermissao2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px
}