@import url('https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

 .mainMenu a {
	text-decoration: none;
	color: #663300
}

.botao {
	background-color: #8E0077;
	border: 1px #000000 solid;
	/*color: #003399;*/
	font-weight:bold;
	color: #FFFFFF;
	font-family: Verdana;
	font-size: 12pt
}

.LMS {
  text-decoration: none;
  color: #663300;
  Font-Family : Verdana;
  margin-top:1px;
  margin-bottom:1px;
  margin-left:2px;
  margin-right:2px;
}

.cabecalho {
		width:375px;
		font: italic 25px Verdana, Arial, Helvetica, sans-serif;
		font-variant: small-caps;
		color: #333333;
		background: #8E0077;
		padding-left:35px;
		border: 1px dotted #006633;
}

.itens {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #7D2116;
}

.campo {
	width:300px;
	border:1px solid #036;
	padding:0; /* Eliminar espaçamento no Firefox */
}

.campo2 {
	width:750px;
	border:1px solid #036;
	padding:0; /* Eliminar espaçamento no Firefox */
}

.legenda {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#FFFFFF;
	font-weight:bold;
	letter-spacing:5px;
	text-align:center;
	background-color:#8E0077;
	border:1px solid #226655;
	padding: .1ex .15ex;
}

.texto{
	background-color:#ECFFDD;
}

.fonteboldblack {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold
}

.fonteErro {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #990000;
	font-weight:bold
}

.fontelink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003399;
	font-weight:bold
}

.tabela_conteudo {
	border-collapse: collapse;
}

.tabela_conteudo td {
	padding: 1px;
	border: #000000 1px solid;
}

.tabela_conteudo td td {
	border: 0px;
}

.tabela_conteudo_2 {
	border-collapse: collapse;
}

.tabela_conteudo .tabela_conteudo_2 td {
	padding: 1px;
	border: #000000 1px solid;
}
